<div id="<%= dom_id friend %>">
  <p>
    <strong>Firstname:</strong>
    <%= friend.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= friend.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= friend.phonenumber %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>

</div>
